---
layout: post-index
title: Follow our adventure
description: "Follow along with our adventure around the world."
tags: [Vesper, Laura, travel, blog, diary]
comments: false
image:
  feature: santa_cruz/lake_before_santa_cruz.jpg
---

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><a href="{{ site.url }}{{ post.url }}">
        {% if post.visitinfo %}
          <time datetime="{{ post.visitinfo.start | date_to_xmlschema }}">{{ post.visitinfo.start | date: "%B %d, %Y" }}</time> - <time datetime="{{ post.visitinfo.end | date_to_xmlschema }}">{{ post.visitinfo.end | date: "%B %d, %Y" }}</time>
        {% else %}
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        {% endif %}
      </a></span>
      <span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
  {% if post.comments != false %}
    <h3 class="entry-title"><a href="{{ site.url }}{{ post.url }}#disqus_thread"><i class="fa fa-comments">&nbsp&nbspAdd a comment</i></a></h3>
  {% endif %}
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}
